@import url(https://fonts.googleapis.com/css?family=Armata|Glegoo);

body {
  font-family: "Armata", verdana, sans-serif;
  font-size:   12pt;
}

h1 {
  font-size:   40pt;
  font-family: "Glegoo";
}

h3 {
  font-size:   20pt;
  font-family: "Glegoo";
}

#nav a,
#nav a:link,
#nav a:hover,
#nav a:active,
#nav a:visited {
  font-size:       20pt;
  text-decoration: none;
}
